In [1]:
import os
import pandas as pd
import glob

In [2]:
os.getcwd()

'/Users/annamalai/Downloads/2017'

In [6]:
files = glob.glob('En_Es_STS/*')

In [7]:
files

['En_Es_STS/STS.input.en-es.train.txt',
 'En_Es_STS/readme',
 'En_Es_STS/STS.input.en-es.train_scores.txt']

In [8]:
ip_file = files[0]
score_file = files[2]

In [9]:
df = pd.DataFrame(columns=['s1', 's2', 'l1', 'l2','score'])

In [10]:
df

Empty DataFrame
Columns: [s1, s2, l1, l2, score]
Index: []

In [14]:
s1 = []
s2 = []
l1 = []
l2 = []
score = []
i_lines = [l.strip() for l in open(ip_file).readlines()]
s_lines = [float(l.strip()) for l in open(score_file).readlines()]
for i,s in zip(i_lines, s_lines):
    parts = i.split('\t')
    sent_1 = parts[0]
    sent_2 = parts[1]
    s1.append(sent_1)
    s2.append(sent_2)
    l1.append('en')
    l2.append('es')
    score.append(s)
#     print(sent_1)
#     print(sent_2)
#     print(s)
#     input()

In [15]:
df['s1'] = s1
df['s2'] = s2
df['l1'] = l1
df['l2'] = l2
df['score'] = score

In [16]:
df.head(10)

,s1,s2,l1,l2,score
0,His rheumy eyes began to cloud.,A sus ojos rheumy comenzó a nube.,en,es,1.0
1,A recent study by Dr. Megan Moreno of the Univ...,Un reciente estudio realizado por la doctora M...,en,es,5.0
2,"Within minutes of entering Lyman's room, the m...",Pocos minutos después de entrar en la sala Lym...,en,es,3.0
3,So the minute that a U.S. official says anythi...,Hasta el minuto de que un funcionario estadoun...,en,es,4.0
4,"When they left, I packed a suitcase and caught...","Cuando salían, me llena de una maleta y captur...",en,es,2.0
5,"""The military is a top-down structure,"" she says.","""El ejército es una estructura jerárquica"", dice.",en,es,5.0
6,"Sixty-six parent coordinators were laid off,"" ...",Sesenta y seis padres coordinadores fueron des...,en,es,3.0
7,Their lives flicker here like votive candles l...,Sus vidas rayo aquí como votive iluminada con ...,en,es,1.0
8,"""I remember the day when the verdict was read,...","""Recuerdo el día cuando el veredicto fue leído...",en,es,5.0
9,Mexico's Enrique Pena Nieto faces tough start,México Enrique Peña Nieto enfrenta duras comienzo,en,es,4.0

In [17]:
df.tail(10)

,s1,s2,l1,l2,score
990,"""I hope he's the same kind of president as he ...","""Espero que el mismo tipo de presidente como é...",en,es,4.0
991,The dinner was held at a Washington hotel hour...,La cena se celebró en un hotel de Washington h...,en,es,5.0
992,"Picasso said that good artists copy, great art...","Picasso dijo que los buenos artistas copian, l...",en,es,5.0
993,"The cuts would eventually hit combat troops, P...",Los recortes eventualmente afectados tropas de...,en,es,5.0
994,To reach the town you can drive along one of M...,Para llegar a la ciudad puede conducir a lo la...,en,es,5.0
995,She said Genevieve got hysterical.,Ella dijo Genevieve obtuvo histérica.,en,es,5.0
996,How to spot a lie,Cómo detectar una mentira,en,es,5.0
997,"""While wartime funding in the Overseas Conting...","""Mientras que la financiación de guerra en las...",en,es,3.0
998,"""The Beauty and the Sorrow"" threads together t...","""La belleza y la Sorrow"" cabos, las experienci...",en,es,2.0
999,"Also Friday, the judge asked Manning about an ...","También el viernes, el juez pidió a Manning so...",en,es,3.0

In [18]:
df.l1.value_counts()

en    1000
Name: l1, dtype: int64

In [19]:
df.l2.value_counts()

es    1000
Name: l2, dtype: int64

In [20]:
df.shape

(1000, 5)

In [21]:
df.to_csv('2017_en_es_eval_set.csv',index=False)